# TAESD models for high-quality on-the-fly previews

https://raw.githubusercontent.com/madebyollin/taesd/main/taesd_decoder.pth
  dir=vae_approx
  out=taesd_decoder.pth
https://raw.githubusercontent.com/madebyollin/taesd/main/taesdxl_decoder.pth
  dir=vae_approx
  out=taesdxl_decoder.pth
https://raw.githubusercontent.com/madebyollin/taesd/main/taesd3_decoder.pth
  dir=vae_approx
  out=taesd3_decoder.pth
https://raw.githubusercontent.com/madebyollin/taesd/main/taef1_decoder.pth
  dir=vae_approx
  out=taef1_decoder.pth

https://huggingface.co/black-forest-labs/FLUX.1-schnell/resolve/main/ae.safetensors
  dir=vae
  out=ae.safetensors
https://huggingface.co/comfyanonymous/flux_text_encoders/resolve/main/clip_l.safetensors
  dir=clip
  out=clip_l.safetensors
https://huggingface.co/comfyanonymous/flux_text_encoders/resolve/main/t5xxl_fp8_e4m3fn.safetensors
  dir=clip
  out=t5xxl_fp8_e4m3fn.safetensors
https://huggingface.co/black-forest-labs/FLUX.1-schnell/resolve/main/flux1-schnell.safetensors
  dir=checkpoints
  out=flux1-schnell.safetensors
https://huggingface.co/black-forest-labs/FLUX.1-schnell/resolve/main/flux1-schnell.safetensors
  dir=unet
  out=flux1-schnell.safetensors
