compose.yml

certbot/conf
certbot/web

data/comfyui

conf/cloudflare/config.yml
conf/comfyui/runner-scripts/download-models.txt
conf/nginx/challenge.conf
conf/nginx/default.conf

data/nginx
data/ollama
data/openwebui
data/pipelines
data/postgres
data/redis

data/searxng/settings.yml
data/searxng/uwsgi.ini

env/*.env
