certbot/conf
certbot/web

data/comfyui

conf/nginx/challenge.conf
conf/nginx/default.conf

data/ollama
data/openwebui
data/pipelines
data/postgres
data/redis

data/searxng/settings.yml
data/searxng/uwsgi.ini

env/*.env
