compose.yml

certbot/conf
certbot/web

data/comfyui

conf/cloudflare/config.yml
conf/comfyui/runner-scripts/download-models.txt
conf/nginx/nginx.conf
conf/nginx/conf.d/default.conf
conf/searxng/settings.yml
conf/searxng/uwsgi.ini


data/nginx
data/ollama
data/openwebui
data/pipelines
data/postgres
data/redis

env/*.env
